:root{
    box-sizing: border-box;
}
.btn-menu a{
    color: aliceblue;
    text-decoration: none;
}
.btn-menu{
    width: 1243px;
    height: 48px;
    border-radius: 10px;
    background-color: green;
}
.row-fix div a {
    text-decoration: none;
    color: white;
}
#container-full{
    max-width: 1535px;
    height: auto;
    background-color: black ;
    
}
.decor-contain p{
    text-align: center;
}