/* .full-size-img{
    width: 1364px;
    height: 600px;
} */

/* .order-contain{
    display: flex;
}
.order-input{
    display: flex;
} */
.order-input{
    display: flex;
    justify-content: center;
}
/* .icon-input{
    width: 278px;
    height: 50px;
} */
 .icon-input{
    background-color: whitesmoke;
   color: black;
}
.order-contain {
    /* position: relative; */
    position: relative;
    
    top: -60px;
    
}

